# phpstorm project files
.idea
.git
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor/*

# Mac DS_Store Files
.DS_Store
._.DS_Store
# access log Files
access.log
*.log

